* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    margin: 10px 0;
}
.box ul {
    display: flex;
    width: 600px;
    list-style: none;
    margin: auto;
    border: 1px solid;
    background-color: #2c3175;
}
.box li {
    width: 25%;
    text-align: center;
    line-height: 40px;
}
.box a {
    background-color: #2c3175;
    color: white;
    display: block;
    text-decoration: none;
    transition: all 0.5s;
}
.box a:hover {
    background-color: #f0f6ff;
    color: #3432ff;
}
.box2-item-about {
    order: 1;
}
.box2-item-info {
    order: 2;
}
.box2-item-company {
    order: 3;
}
.box2-item-main {
    order: 4;
}
.box3-list {
    justify-content: center;
}
.box .box3-item {
    width: 20%;
}
.box .box4-item {
    width: 20%;
    border: 1px solid red;
}
.box4-list {
    justify-content: flex-end;
    align-items: center;
}
