/*font-family: 'Dorsa', sans-serif;*/
/*font-family: 'Pathway Gothic One', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
@import "base.css";
@import "header.css";
@import "footer.css";

.contacts {
    background-color: #ffffff;
    padding: 3.75rem 2.313rem 4.688rem;
}
.contacts:after {
    content: "\f062";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #38afe5;
    border-radius: 50%;
    position: fixed;
    right: 1.5%;
    bottom: 2%;
    font-family: 'FontAwesome', sans-serif;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
    font-size: 0.75rem;
}
.title2 {
    font-size: 1.563rem;
    color:  #263555;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}
.contactus .title2 {
    margin-bottom: 1.563rem;
}
.contactus__input {
    display: block;
    width: 100%;
    margin-bottom: 1.063rem;
    border: 1px solid #d4d0d0;
    background-color:  #fcfafa;
}
.contact__button {
    border: 1px solid #b1aaaa;
    border-radius: 5px;
    background-color:  #fbf6f8;
    box-shadow: 0 2px 1px 0 #dedbdb;
    font-size: 0.9375rem;
    font-family: Arial, sans-serif;
    width: 4.875rem;
    height: 1.625rem;
    margin-right: 1.25rem;
}
.contact__button:last-child {
    margin-right: 0;
}
.button {
    text-align: right;
}
.title4 {
    font-size: 0.875rem;
    font-family: Arial, sans-serif;
    color:  #666565;
}
.title5 {
    font-size: 0.8125rem;
    color:  #666565;
    font-family: Arial, sans-serif;

}
.address {
    display: flex;
    justify-content: space-between;
}
.office {
    flex-basis: 45%;
}
.address-mardgin {
    margin-top: 3.188rem;
}
.office .title4 {
    margin-bottom: 1.188rem;
}
.office__title5-inline {
    display: inline-block;
}
.office__contact {
    display: flex;
    justify-content: space-between;
}
.map {
    margin-top: 3.063rem;
}
.map .title2 {
    margin-bottom: 1.563rem;
}


@media (min-width: 768px) {
    .contactus-address {
        display: flex;
        justify-content: space-between;
    }
    .address {
        display: block;
        flex-basis: 25%;
    }
    .office:first-child {
        margin-bottom: 2.125rem;
    }
    .contactus {
        flex-basis: 70%;
    }
    .title2 {
        font-size: 2rem;
    }
}


@media (min-width: 1024px) {
    .contacts {
        display: flex;
        flex-direction: row-reverse;
    }
    .map {
        margin-top: 0;
        flex-basis: 48%;
    }
    .contactus {
        order: 1;
        flex-basis: 42%;
    }
    .contactus-address {
        justify-content: space-evenly;
    }
    .address {
        flex-basis: 44%;
    }
}
