.box1 {
    background-color: #eb4f4e;
    border: 1px solid;
}
.box2 {
    background-color: #ebac68;
    border: 1px solid;
}
.red {
    background-color: #eb4f4e;
}
.yellow {
    background-color: #f2ff0d;
}

